.form-control-plaintext{

    background: #9e4800;
    border: 1px solid white;
    max-width: 200px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;


}
  .loginButton {
      font-size: 20px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
  }

  .loginRow {
    justify-content: center;
  }
