-i https://pypi.org/simple/
cffi==1.14.0
cryptography==2.8
dataclasses==0.6
django-cors-headers==3.1.1
django-rest-knox==4.1.0
django==2.2.10
djangorestframework==3.10.3
djongo==1.2.36
dnspython==1.16.0
pycparser==2.19
pymongo==3.10.1
pytz==2019.3
six==1.14.0
sqlparse==0.2.4
