.App {
  text-align: center;
  background-color:#F7F7F8;
  height: 100;
  min-height: 100vh;
  top: 62px; 
  position: relative; 
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #a8b5ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.form {
  min-width: 40vw;
  max-width: 40vw;
  margin-left: 30vw;
}

a{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
ul{
  text-align: center;
  list-style-position: inside;
}
p {
  text-align: center;
  line-height: 0.5px;
}

h2{
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #333F48;
  letter-spacing: 0;
  line-height: 40px;
}
p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.background-nav 
{
  background-color:#9e4800;

}
.logo {
  width: 600px;
  height: auto;
}

.prematch
{
  text-align: center;
}

.rteindent4 {
  margin-left: 160px;
  margin-right: 160px;
  text-align: left;
}

.login {
  
    position: absolute;
    right: 15px;
  
}
