.App {
  text-align: center;
  background-color: #3D9970;

  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.prof_pic {
  width: 200px;
  display: inherit;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
